 .u-section-1 {
  background-image: none;
  min-height: 929px;
}

.u-section-1 .u-image-1 {
  height: 779px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 841px;
  min-height: 449px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -369px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 13px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 35px auto 0;
  padding: 14px 50px 14px 49px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 706px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -296px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 895px;
  }

  .u-section-1 .u-image-1 {
    height: 551px;
  }

  .u-section-1 .u-group-1 {
    width: 626px;
    min-height: 435px;
    margin-top: -141px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 883px;
  }

  .u-section-1 .u-image-1 {
    height: 446px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 496px;
    margin-top: -109px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 855px;
  }

  .u-section-1 .u-image-1 {
    height: 317px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 585px;
    margin-top: -97px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 522px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: -246px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 402px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-icon-1 {
  width: 68px;
  height: 68px;
  background-image: none;
  margin: 24px auto 0;
  padding: 12px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-icon-2 {
  width: 68px;
  height: 68px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 24px auto 0;
  padding: 12px;
}

.u-section-2 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-2 .u-icon-3 {
  width: 68px;
  height: 68px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 24px auto 0;
  padding: 12px;
}

.u-section-2 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -234px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 332px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 763px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 3rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 582px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 322px;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px 159px 0 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 260px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 260px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.u-section-3 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0 74px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 260px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.u-section-3 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0 74px;
}

.u-section-3 .u-image-1 {
  min-height: 582px;
  background-image: url("images/g23bda73b9fa4992da12070cb30721892858e13051aa0b9d8a4c45dfe68d5a00ca6978e5a80774f34b5f235a8f98018c3e1062c0ec955a95ef4587248db1d2ae1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 46px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 215px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 215px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 215px;
  }

  .u-section-3 .u-image-1 {
    min-height: 480px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 848px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 636px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 400px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 552px;
}

.u-section-4 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }

  .u-section-4 .u-icon-2 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-4 .u-icon-3 {
    color: rgb(219, 84, 90) !important;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  min-height: 711px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  width: 320px;
  margin: 14px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-shape-1 {
  height: 193px;
  background-image: none;
  margin-top: 156px;
  margin-bottom: 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 1140px;
  margin: -299px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 215px;
  grid-gap: 30px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/1.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-image-2 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px;
}

.u-section-5 .u-image-3 {
  width: 180px;
  height: 180px;
  background-image: url("images/2.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-text-10 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-11 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 177px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.23529rem;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.88235rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.88235rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.88235rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 220px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-6 .u-image-1 {
  width: 287px;
  height: 146px;
  margin: 23px -1px 0;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 220px;
}

.u-section-6 .u-image-2 {
  width: 143px;
  height: 175px;
  margin: 20px auto;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 220px;
}

.u-section-6 .u-image-3 {
  width: 143px;
  height: 175px;
  margin: 20px auto;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 220px;
}

.u-section-6 .u-image-4 {
  width: 143px;
  height: 175px;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 118px;
    height: 144px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-2 {
    width: 118px;
    height: 144px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-image-3 {
    width: 118px;
    height: 144px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-image-4 {
    width: 118px;
    height: 144px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-6 .u-image-1 {
    width: 90px;
    height: 111px;
  }

  .u-section-6 .u-image-2 {
    width: 90px;
    height: 111px;
  }

  .u-section-6 .u-image-3 {
    width: 90px;
    height: 111px;
  }

  .u-section-6 .u-image-4 {
    width: 90px;
    height: 111px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    width: 85px;
    height: 104px;
  }

  .u-section-6 .u-image-2 {
    width: 85px;
    height: 104px;
  }

  .u-section-6 .u-image-3 {
    width: 85px;
    height: 104px;
  }

  .u-section-6 .u-image-4 {
    width: 85px;
    height: 104px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 520px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 873px;
  margin: 60px auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  width: 461px;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 200px;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-family: "Abril Fatface";
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-family: "Abril Fatface";
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px;
}

.u-section-7 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  font-family: "Abril Fatface";
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px auto 0 94px;
}

.u-section-7 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-7 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin: 20px 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 320px;
  }
}